.top {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #333;

  .organ-name {
    flex: 1 1 auto;
    font-size: 38rpx !important;
    font-family: PingFangSC-Medium;
    color: #fff;
    margin-left: 30rpx;
  }
  .avatar {
    flex: 0 0 120rpx;
    text-align: right;
    margin-right: 30rpx;
    .avavtao-img {
      display: inline-block;
      width: 148rpx;
      height: 148rpx;
      overflow: hidden;
      border-radius: 10rpx;
    }
  }

  .btn {
    color: #fff;
    background: #373737;
    margin: 10px 0 20px;
  }
  .login-text {
    line-height: 2;
    font-size: 12px;
    color: #777777;
    text-decoration: none;
    text-align: center;
  }
}
.menu {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 0 30rpx;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50rpx 30rpx;
  border-radius: 20rpx;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0rpx 40rpx 100rpx 0rpx rgba(0, 0, 0, 0.07);

  .menu_item {
    display: flex;
    height: 100rpx;
    text-align: left;
    font-size: 30rpx;
    align-items: center;
    justify-content: space-between;

    // font-family:PingFangSC-Regular;
    color: #1a1a1a;
    .menu_item_icon {
      display: inline-block;
      width: 36rpx;
      height: 36rpx;
      padding-right: 24rpx;
    }
    .menu_item_content {
      float: right;
      font-size: 38rpx;
      color: rgb(231, 33, 43);
    }
  }
}

.logout-btn {
  font-size: 32rpx;
  background-color: rgb(240, 16, 16);
  width: 100%;
  padding: 30rpx;
  padding: 0 30rpx;
}
