.top {
  display: flex;
  position: relative;
  top: 60rpx;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  .avatar {
    display: inline-block;
    margin: 0 auto;
    .avatar-img {
      display: inline-block;
      width: 132rpx;
      height: 132rpx;
      overflow: hidden;
      border-radius: 10rpx;
    }
  }
  .nickname {
    margin: 0 auto;
    display: inline-block;
    .nickname-text {
      text-align: center;
      font-size: 38rpx !important;
      font-family: PingFangSC-Medium;
      color: #181616;
    }
  }

  .btn {
    background: none !important;
    color: #181616 !important;
  }
  .btn::after {
    border: none;
  }
}
.menu {
  position: relative;
  top: 30rpx;
  box-sizing: border-box;
  padding: 0 30rpx;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 50rpx 30rpx;
  border-radius: 20rpx;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0rpx 40rpx 100rpx 0rpx rgba(0, 0, 0, 0.07);

  .menu_item {
    display: flex;
    height: 100rpx;
    text-align: left;
    font-size: 30rpx;
    color: #1a1a1a;
    border-bottom: 2rpx solid #e1e1e1;
    .menu_item_icon {
      display: inline-block;
      width: 36rpx;
      height: 36rpx;
    }
    .menu_item_content {
      margin-left: 24rpx;
      float: left;
      font-size: 28rpx;
      color: #181616;
    }
  }
}

.logout-btn {
  font-size: 32rpx;
  background-color: rgb(240, 16, 16);
  width: 100%;
  padding: 30rpx;
}
